@model _11_AutoMapper.Dto.UserDto
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">UserDTO(Data Transfer Object)</h1>
    <p>Id:@Model.Id</p>
    <p>Name:@Model.FullName</p>
    <p>Email:@Model.Email</p>
</div>
