@using _06_Custom_Helpers.Helpers

<div class="text-center">
    @StringHelper.CapitalizeWord("hamza çok durgun bugün")
    <br />
    @StringHelper.WordsLength("erkan türk")
    <br />
    @ViewBag.Message
</div>